.App {
  text-align: center;
}

@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("./resources/SEGA.woff") format("woff");
}

.App h1 {
  font-family: "SEGA LOGO FONT";
  color: #ccc;
  letter-spacing: 0.2rem;
  font-weight: 500;
  word-spacing: 1.5rem;
}
